.item {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #F3BC2B;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    animation: animate-in 1s ease-out forwards;
  }


  
  .itemname {
    font-size: 2rem;
    font-weight: bolder;
    color: whitesmoke;
    margin: 0;
    text-transform: uppercase;
  }
  
  .itemprice {
    white-space: pre-wrap;
    font-size: 1.25rem;
    font-weight: bolder;
    margin: 0.25rem 0 0 0;
    /* color: #C43672; */
    color: #074A7F;
    font-style: italic;
  }

  .count{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 50%;
  }
  
  @keyframes animate-in {
    from {
      opacity: 0;
      transform: translateY(0);
    }
    to {
      opacity: 1;
      transform: translateY(1rem);
    }
  }