.item{
    float: left;
    width: 50%;
    padding: 5px;
}

.rowDisplay:after {
    content: "";
    display: table;
    clear: both;
}

.rowDisplay{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    background-color: #074A7F;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media screen and (max-width: 992px) {
    .rowDisplay{
        flex-direction: column;
    }
    .item{
        justify-content: center;
    }
  }
  
  @media screen and (max-width: 600px) {
    .rowDisplay{
        flex-direction: column;
    }
    
  }